#s-0d6bd3de-546d-478d-8911-2921aff53c81 #s-Text_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #6624FB;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #6624FB;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #6624FB;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #6624FB;
  border-radius: 15px 15px 15px 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 180px;
  width: 327px;
  -ms-transform: rotate(0.0deg);
}
#s-0d6bd3de-546d-478d-8911-2921aff53c81 #s-Text_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FD9927;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FD9927;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FD9927;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FD9927;
  border-radius: 15px 15px 15px 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 180px;
  width: 327px;
  -ms-transform: rotate(0.0deg);
}
#s-0d6bd3de-546d-478d-8911-2921aff53c81 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0d6bd3de-546d-478d-8911-2921aff53c81 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #6DFD30;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #6DFD30;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #6DFD30;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #6DFD30;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 29px;
  width: 143px;
  -ms-transform: rotate(0.0deg);
}
#s-0d6bd3de-546d-478d-8911-2921aff53c81 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #6DFD30;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #6DFD30;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #6DFD30;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #6DFD30;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 29px;
  width: 143px;
  -ms-transform: rotate(0.0deg);
}
#s-0d6bd3de-546d-478d-8911-2921aff53c81 #s-Text_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FC0F3B;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FC0F3B;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FC0F3B;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FC0F3B;
  border-radius: 15px 15px 15px 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 180px;
  width: 327px;
  -ms-transform: rotate(0.0deg);
}
#s-0d6bd3de-546d-478d-8911-2921aff53c81 #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #6DFD30;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #6DFD30;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #6DFD30;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #6DFD30;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 29px;
  width: 143px;
  -ms-transform: rotate(0.0deg);
}
#s-0d6bd3de-546d-478d-8911-2921aff53c81 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0d6bd3de-546d-478d-8911-2921aff53c81 #s-Text_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #653308;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #653308;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #653308;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #653308;
  border-radius: 15px 15px 15px 15px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  height: 180px;
  width: 327px;
  -ms-transform: rotate(0.0deg);
}
#s-0d6bd3de-546d-478d-8911-2921aff53c81 #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #6DFD30;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #6DFD30;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #6DFD30;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #6DFD30;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 29px;
  width: 143px;
  -ms-transform: rotate(0.0deg);
}
#s-0d6bd3de-546d-478d-8911-2921aff53c81 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0d6bd3de-546d-478d-8911-2921aff53c81 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0d6bd3de-546d-478d-8911-2921aff53c81 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}