#s-119a9a44-784b-4132-aa66-bb17fbc563bc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-119a9a44-784b-4132-aa66-bb17fbc563bc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-119a9a44-784b-4132-aa66-bb17fbc563bc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-119a9a44-784b-4132-aa66-bb17fbc563bc #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-119a9a44-784b-4132-aa66-bb17fbc563bc #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-119a9a44-784b-4132-aa66-bb17fbc563bc #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-119a9a44-784b-4132-aa66-bb17fbc563bc #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-119a9a44-784b-4132-aa66-bb17fbc563bc #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-119a9a44-784b-4132-aa66-bb17fbc563bc #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-119a9a44-784b-4132-aa66-bb17fbc563bc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}