#s-232781b4-0f99-46d4-b74a-33c5b3fe6acb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-232781b4-0f99-46d4-b74a-33c5b3fe6acb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-232781b4-0f99-46d4-b74a-33c5b3fe6acb #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-232781b4-0f99-46d4-b74a-33c5b3fe6acb #s-Input_3 INPUT {
  font-family: Arial;
}
#s-232781b4-0f99-46d4-b74a-33c5b3fe6acb #s-Input_4 INPUT {
  font-family: Arial;
}
#s-232781b4-0f99-46d4-b74a-33c5b3fe6acb #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-232781b4-0f99-46d4-b74a-33c5b3fe6acb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}