#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Button_1 {
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #6DFD30;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #6DFD30;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #6DFD30;
  border-radius: 0px 0px 7px 7px;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 50px;
  width: 338px;
  -ms-transform: rotate(0.0deg);
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Button_2 {
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #6624FB;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #6624FB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #6624FB;
  border-radius: 0px 0px 7px 7px;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 50px;
  width: 338px;
  -ms-transform: rotate(0.0deg);
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Button_3 {
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #6624FB;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #6624FB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #6624FB;
  border-radius: 0px 0px 7px 7px;
  padding-top: 0px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 50px;
  width: 338px;
  -ms-transform: rotate(0.0deg);
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=92);
  filter: alpha(opacity=92);
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FF0000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FF0000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FF0000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FF0000;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 40px;
  width: 69px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}