#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=92) ;
  filter: alpha(opacity=92) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-3a2f970a-92d5-4824-849a-ed2983941c03 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}