#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}