#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #6ACA25;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #6ACA25;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA25;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #6ACA25;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  height: 42px;
  width: 149px;
  -ms-transform: rotate(0.0deg);
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-4cd3536e-41d7-47e7-8803-3a78b8ef4adf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}