#s-62b497e5-b3e7-42cb-8a74-d2fb1b68d866 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62b497e5-b3e7-42cb-8a74-d2fb1b68d866 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62b497e5-b3e7-42cb-8a74-d2fb1b68d866 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62b497e5-b3e7-42cb-8a74-d2fb1b68d866 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62b497e5-b3e7-42cb-8a74-d2fb1b68d866 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-62b497e5-b3e7-42cb-8a74-d2fb1b68d866 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}